*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: boder-box;
}
a{
    text-decoration: none;
}
ul,li,ol{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html,body{
    height:100%;
    line-height: 1;
    font-size: 14px;
    color: #252b42;
    font-weight: 500;
    font-family: Montserrat;
}
.wrapper{
    min-height: 100%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    
}
._container{
    max-width:1040px;
    padding:0px 15px;
    margin:0px auto;
    box-sizing:content-box;
}
._ibg{
    position:relative;
}
._ibg img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    object-fit:cover;
}

.header {
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}
.header__container {
display: flex;
min-height: 104px;
align-items: center;
}


.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin:0px 0px 0px 133px;
}
@media(max-width:992px){
    .header__menu {
        margin:0px 0px 0px 80px;
    }
}
@media(max-width:767px){
    .header__menu {
        margin:0px 0px 0px 50px;
    }
}
.menu {
    padding:5px 0px;
}

.menu__list {
    display:flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child){
    margin:0px 21px 0px 0px;
}
.menu__link {
    color:#737373;
    font-weight: 600;
    line-height: calc(24/14*100%);
}

.page{
    
    flex:1 1 auto;
}

.page__main-block {

}

   

.main-block__container {
    padding:0px 200px;
}
.__container {
}
.main-block__body {
    padding:184px 0px 190px 0px;
    position:relative;
    z-index:2;
}
.main-block__body > *:not(:last-child){
    margin:0px 0px 35px 0px;
}
.main-block__title {
    font-size: 50px;
    line-height:calc(80/58*100%);
    font:800;
    letter-spacing: 0.2px;
}
.main-block__text {
    color:#737373;
    font-size:20px;
    line-height: 1.5;
}
.main-block__buttons {
     display: inline-flex;
}
.main-block__button {
    background: #ff7b47;
    border-radius: 37px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px 36px;
    letter-spacing: 0.2px;
    color:blanchedalmond;
    line-height: 150%;
    font-weight: 700;
}

.main-block__button:not(:last-child) {
    margin:0px 10px 0px 10px;
}
.main-block__image{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0; 
    }

    .page__services {
        margin-top: -111px;
        z-index:2;
        position:relative;
    }
    .services {
    }
    .services__container {
    }
    ._container {
    }
    .services__body {
       
        }
    .services__column {
        padding:0px 15px;
        flex:0 1 30%;
        
        margin:0px 0px 30px 0px;
    }
    
    @media( min-width:670px){
       .services__body {display:flex;
        margin:0px -15px -30px;
        flex-wrap:wrap;
        }
    }
    @media (max-width:992px){
        .services__column{
            flex:0 1 45%;
        }}
    .services__item {
        height:100%;
        background-color: cadetblue;
        padding:35px;
    }
    .item-service {
    }
    .item-service__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;

    }
    .item-service__text {
        color: #737373;
        line-height: 142%;
    }


    .header-block__title {
    }
    .practice{
        padding:125px 80px;
    }
    .practice__body {
        margin:0px -20px -30px;
        display:flex;
        margin:0px -15px;
    }
    .practice__item-practice {
        margin:0px 0px 30px 0px;
        padding:0px 15px;
        flex:0 1 25%;
    }
    .item-practice__image {
        padding: 0px 0px 60% 0px;
        display:block;       
    }
    @media(max-width:1040px){
        .practice__body{
            flex-wrap: wrap;
        }
        .practice__item-practice{
            flex:0 1 45%;
        }
    }
    @media(max-width:630px){
        .practice__body{
            flex-wrap: wrap;
        }
        .practice__item-practice{
            flex:0 1 95%;
        }
    }
    
    .footer {
       
    }
    .footer__top {
        background:#ff7b47;
        padding:50px 0px;
    }
    .footer__main {
        display:flex;
    }
    ._container {
    }
    .footer__column {
        min-width:170px;
        flex:0 1 20%;
        color:black;
    }
    .footer__label {
        font-weight: 700;
        font-size:16px;
        line-height:150%;
        margin:0px 0px 20px 0px;
    }
    .footer__menu {
        display:flex;
        flex-direction: column;
    }
    .menu-footer {
    }
    .menu-footer__item:not(:last-child){
        margin:0px 0px 12px 0px;
    }
    .menu-footer__list {
    }
    .menu-footer__link {
    }
    @media(max-width:982px){
        .footer__column{
            flex:0 1 25%
        }
        .footer__column:last-child{
            flex:1 1 100%;
        }
    }

    @media(max-width:750px){
        .footer__column{
            flex:0 1 50%
        }
         }
